
<!--=====================
          Content
======================-->
<section id="content" >

<section id="information" class="row">

 <h4 style="float:right;padding-top:30px; padding-right:30px" > (MOXO) נוירוטק- מפתחת האבחון החדשני לאיתור בעיות קשב וריכוז </h4>
 <br>
 <br>
 <br>
 	 
	  <div class="grid_4 " style="float:right">
        <div class="block-3">
          <img src="images/page2_img4.jpg" alt="" class="img_inner">
		</div>
	  </div>  
 <section id="information" class="row">
  <div class="col-md-9 text2">
<p  class="lead" style="  text-align: justify; direction: rtl; display:block; padding-right:80px;padding-left:80px;font-family:David ">
          
         
החברה מתמקדת בהערכה, יישום, שיפור ומחקר הקוגניציה וההתנהגות האנושית,

 תוך שימת דגש על תפקודים קשביים, ביניהם הפרעת קשב וריכוז (ADHD).

החברה שמה לה למטרה להבין טוב יותר את ספקטרום הקשב וההתנהגות האנושיים על מנת לסייע 


לאנשי המקצוע בתחום אבחון הפרעות הקשב והריכוז לשפר את תפקודם היומיומי,
 רווחתם, יכולותיהם והישגיהם של הנבדקים.

סגל הדירקטוריון המדעי של נוירוטק מורכב מצוות בינלאומי של רופאים, חוקרים ואנשי אקדמיה.

מוצרי החברה מבוססי אינטרנט מתוך מטרה לספק שירות טוב ויעיל ונגישות רבה יותר.
<br>
<br>
אנו שמחים כי נכנסתם לאתרנו, ושמחים עוד יותר לומר כי לא טעיתם, הגעתם למקום המקצועי ביותר והמבטיח ביותר- עם מלוא האחריות.
אנו במכון שמנו לנו כמטרה להיות במקום המוביל ביותר עבור לקוחותינו.

כחלק גדול מישומה של מטרה זו, הצוות המיומן שלנו עובר את ההשתלמויות המתקדמות ביותר בתחום,

ומשתמש בידע החדיש ביותר תוך התאמתו האישית למטופל, כדי לגרום לטיפול יעל יותר ומהיר יותר.
<br>
אנחנו כאן בשבילכם- עם כל הלב הידע המסירות וכמובן הדיסקרטיות.
<br>
אתם מוזמנים ליצור קשר..
       <br> <br><br></p>
		</div>
		
		

		
	</section>	

       
		     
        
    
  


        
      
</section>




 