
<!--=====================
          Content
======================-->
<section id="content" >


 <div class="block-4_title" style="float:right">אודות חברת נוירוטק - מפתחת MOXO מבדק לאבחון הפרעות קשב וריכוז</div>
<li>
          <div class="count">4</div> <br>
          <a href="#">חברת נוירוטק מפתחת הטכנולוגיה החדשנית לאבחון הפרעות קשב וריכוז - מבדק ה- MOXO שכובש מקום מרכזי בתחום האבחון.
החברה מתמקדת בהערכה, יישום, שיפור ומחקר הקוגניציה וההתנהגות האנושית, תוך שימת דגש על תפקודים קשביים, ביניהם הפרעת קשב וריכוז (ADHD).

החברה שמה לה למטרה להבין טוב יותר את ספקטרום הקשב וההתנהגות האנושיים על מנת לסייע לאנשי המקצוע בתחום אבחון הפרעות הקשב והריכוז לשפר את תפקודם היומיומי, רווחתם, יכולותיהם והישגיהם של הנבדקים.

סגל הדירקטוריון המדעי של נוירוטק מורכב מצוות בינלאומי של רופאים, חוקרים ואנשי אקדמיה.

מוצרי החברה מבוססי אינטרנט מתוך מטרה לספק שירות טוב ויעיל ונגישות רבה יותר.

</a>
        </li>
		
		      <div class="grid_4 omega">
        <div class="block-3">
          <img src="images/page2_img2.jpg" alt="" class="img_inner">
		</div>
	  </div>
	  <div class="grid_4 omega">
        <div class="block-3">
          <img src="images/page2_img4.jpg" alt="" class="img_inner">
		</div>
	  </div>  
		
		

       
		     
        
    
  


        
      
</section>


<br>

<br>
<br>
<br>
<br>

 