
<!--=====================
          Content
======================-->

<section id="content">
 <article class="block-1">
    <div class="container_12">
      <div class="grid_12">
      </div>
    </div>
  </article>


  <div class="container_12">

    <div class="grid_4">
      <div class="banner">
        <a href="#" class="banner_title" style="font-family:BN Amnesia ">יחס <br>
אישי</a>
        <div class="maxheight"><img src="images/icon1.png" alt=""></div>
      </div>
    </div>

    <div class="grid_4">
      <div class="banner" >
        <a href="#" class="banner_title" style="font-family:BN Amnesia ">  מקצועיות<br>
רב תחומית</a>
        <div class="maxheight"><img src="images/icon2.png" alt=""></div>
      </div>
    </div>

    <div class="grid_4">
      <div class="banner">
        <a href="#" class="banner_title" style="font-family:BN Amnesia ">זמינות <br>
גבוהה</a>
        <div class="maxheight"><img src="images/icon3.png" alt=""></div>
      </div>
    </div>
    <div class="clear"></div>
  </div>

  <article class="block-1">
    <div class="container_12">
      <div class="grid_12">
      </div>
    </div>
  </article>

  <div class="container_12">
    <div class="grid_6">
      <div class="block-2">
        <img src="images/b_icon1.png" alt="">
        <div class="text1"><a href="#">מיקומנו</a></div>
		<p>    פתח תקווה, הרב קוק 33</p>
		<p> 03-9400072</p>
		
	  
	
      </div>
    </div>
    <div class="grid_6">
      <div class="block-2">
        <img src="images/b_icon2.png" alt="">
        <div class="text1"><a href="#">רעיון??</a></div>
       משהו לכתיבה
      </div>
    </div>
    <div class="grid_6">
      <div class="block-2">
        <img src="images/b_icon3.png" alt="">
        <div class="text1"><a href="#">רעיוןו??</a></div>
       משו לכתוב
      </div>
    </div>
    <div class="grid_6">
      <div class="block-2">
        <img src="images/b_icon4.png" alt="">
        <div class="text1"><a href="#">רעיון??</a></div>
        משו לכתוב
      </div>
    </div>
    <div class="clear"></div>
  </div>

  <div class="clear sep-1"></div>
</section> 
 

