
<!--=====================
          Content
======================-->
<section id="content">
  <div class="container_12">
    <div class="grid_12">
      <h3 class="ta__center" style="font-family:BN Amnesia ">
        התחבר
      </h3>

    </div>
    <div class="clear"></div>
  </div>
  <article class="block-1 contacts ">
    <div class="container_12">
      <div class="grid_12">
        
      </div>
      <div class="clear"></div>
        <form id="contact-form">
          <div class="contact-form-loader"></div>
          <div class="grid_6">
            <label class="name">
			</br></br>
              <input type="text" name="name"  placeholder="שם משתמש/E-mail:" value="" data-constraints="@Required @JustLetters"  />
              <span class="empty-message">*שדה חובה</span>
              <span class="error-message">*This is not a valid name.</span>
            </label>
           </br></br>
            <label class="email"><!--=צריך לשנות את הקלאס לסיסמה  ==-->
              <input type="text" name="email" placeholder="סיסמה:" value="" data-constraints="@Required @Email" />
              <span class="empty-message">שדה חובה*</span>
              <span class="error-message">*This is not a valid email.</span>
            </label>
           </div>
	<div class="container_12">
    <div class="grid_12">
             <div class="ta__center" >
          <a href="#/form" style="font-family:BN Amnesia"  data-type="submit">התחבר</a>
		  </div>
            </div>
          </div> 
		    </div>
          </div> 

          <div class="modal fade response-message">
            
          </div>
          <div class="clear"></div>
      </form>   
      <div class="clear"></div>
    </div>
  </article>
</section>
