
<!--=====================
          Content
======================-->

<div style="float:right; padding-top:30px; display:inline">
<button  class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" ng-click="addItem()">הוסף חדש</button>
</div>


<section id="content" >

<div >
	<table>
		<thead>
			<th>Name</th>
			<th>Family</th>
			<th>Phone</th>
			<th>Email</th>
		</thead>
		<tbody>
			<tr ng-repeat="patient in patients" >
				<td>{{patient.firstName}}</td>
				<td>{{patient.lastName}}</td>
				<td>{{patient.phone}}</td>
				<td>{{patient.EMail}}</td>
				<td><button class="btn btn-primary" data-toggle="modal" data-target="#myModal2" ng-click="editItem(patient)">Edit</button></td>
				<td><button class="btn" ng-click="removeItem(patient._id)">Remove</button></td>
				<td><button class="btn" >
				<a href="#/form">add document</a>
				</button></td>				
			</tr>
		</tbody>
	<table>

</div>

<!-- Modal for create fun'-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-show="displayForm">
  <div class="modal-dialog">
    <div class="modal-content">      
      <div class="modal-body">       
          <div class="form-group"> <input type="text" name="firstName" ng-model="patient.firstName"  class="form-control" placeholder="firstName" required/>
		   <span class="errMessage" ng-show="!myModal.firstName.$valid">*</span>	
		  </div>
          <div class="form-group"> <input type="text" ng-model="patient.lastName"  class="form-control" placeholder="lastName"/></div>
          <div class="form-group"> <input type="text" ng-model="patient.phone"  class="form-control" placeholder="phone"/></div>    
          <div class="form-group"> <input type="text" ng-model="patient.EMail"  class="form-control" placeholder="EMail"/></div>    		       
      </div>
      <div class="modal-footer">       
         <button class="btn btn-primary" ng-click="create()">Save</button>
         <button class="btn btn-primary" ng-click="removeModal()">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal for addit fun'-->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-show="displayForm2">
  <div class="modal-dialog">
    <div class="modal-content">      
      <div class="modal-body">      
          <div class="form-group"> <input type="text" ng-model="patient.firstName"  class="form-control" placeholder="firstName"/></div>
          <div class="form-group"><input type="text" ng-model="patient.lastName"  class="form-control" placeholder="lastName"/></div>
          <div class="form-group"> <input type="text" ng-model="patient.phone"  class="form-control" placeholder="phone"/></div>    
          <div class="form-group"> <input type="text" ng-model="patient.EMail"  class="form-control" placeholder="EMail"/></div>    		       
      </div>
      <div class="modal-footer">       
         <button class="btn btn-primary" ng-click="update(patient._id)">Update</button>
		 <button class="btn btn-primary" ng-click="removeModal2()">Close</button>
      </div>
    </div>
  </div>
</div>




   
</section>


<br>

<br>
<br>
<br>
<br>

 